.v-stepper__step__step .v-icon {
	font-size: 16px !important;
}
.v-label {
	font-size: 14px;
}
.clickable {
	cursor: pointer;
}
.clickable:hover {
	cursor: pointer;
}
.v-input--selection-controls {
	margin-top: 0;
}
.card-button {
	width: 64px;
}
.card-button:hover {
	background-color: var(--v-hover-base)
}
.detail-section-margins-and-padding {
	padding: 16px 24px 24px !important;
	margin: 12px -12px -12px -12px !important;
}
.content-panel {
	-moz-box-shadow: 0 0 8px #000000;
	-webkit-box-shadow: 0 0 8px #000000;
	box-shadow: 0 0 8px #000000;
	max-width: 400px;
	min-height: 100vh;
	max-height: 100vh;
	overflow-y: auto;
	z-index: 2;
	background-color: var(--v-detailbg-base) !important;
}
.sticky-toolbar {
	position: -webkit-sticky !important;
	position: sticky !important;
	top: 0 !important;
	z-index: 3 !important;
}
.sticky-card-action-footer {
	position: -webkit-sticky !important; /* Safari */
	position: sticky !important;
	bottom: 0 !important;
	z-index: 3 !important;
	min-height: 53px !important;
	background: var(--v-background-base) !important;
}
.v-toolbar__title {
	padding-left: 4px !important;
}
.fab-position {
	position: fixed !important;
	left: 384px !important;
	bottom: 16px !important;
}
.v-btn {
	text-transform: none !important;
}
.warning-text {
	color: var(--v-warning-base) !important;
}
.detail--text {
	color: var(--v-detail-base) !important;
}
.detail-bg {
	background-color: var(--v-detailbg-base) !important;
}

/* The emerging W3C standard
   that is currently Firefox-only */
* {
	scrollbar-width: thin;
	scrollbar-color:  var(--v-scroll_thumb-base) var(--v-scroll_track-base);
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
	width: 12px;
}
*::-webkit-scrollbar-track {
	background: var(--v-scroll_track-base);
}
*::-webkit-scrollbar-thumb {
	background-color:  var(--v-scroll_thumb-base);
	border-radius: 10px;
	border: 2px solid var(--v-scroll_track-base);
}
