.sub-card {
	background: #f0f0f0 !important;
}
.v-label {
	font-size: 14px;
}
.header {
	color: #000;
}
.detail {
	color: dimgray;
}
.clickable {
	cursor: pointer;
}
.clickable:hover {
	cursor: pointer;
}
.accent {
	color: #3b779a;
}
.secondary {
	color: #73c1c5;
}
.v-input--selection-controls {
	margin-top: 0;
}
.card-button {
	width: 64px;
}
.detail-bg {
	background-color: rgba(226, 233, 236, 0.71);
}
.settings-header {
	background-color: rgba(204, 224, 236, 1.0);
}
.detail-section-margins-and-padding {
	padding: 8px 24px 24px !important;
	margin: 12px -12px -12px -12px !important;
}
.content-panel {
	-moz-box-shadow: 0 0 8px #000000;
	-webkit-box-shadow: 0 0 8px #000000;
	box-shadow: 0 0 8px #000000;
	max-width: 400px;
	min-height: 100vh;
	max-height: 100vh;
	overflow-y: auto;
	z-index: 2;
}
.sticky-toolbar {
	position: -webkit-sticky !important;
	position: sticky !important;
	top: 0 !important;
	z-index: 3 !important;
}
.sticky-card-action-footer {
	position: -webkit-sticky !important; /* Safari */
	position: sticky !important;
	bottom: 0 !important;
	z-index: 3 !important;
	min-height: 53px !important;
	background: white !important;
}
.v-toolbar__title {
	padding-left: 4px !important;
}
.fab-position {
	position: fixed !important;
	left: 384px !important;
	bottom: 16px !important;
}
.v-btn {
	text-transform: none !important;
}
